<div class='alert alert-success'> 
<strong>Success:</strong> {{successMessage}}</div><a class='btn btn-success pull-right' href='/login'>&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />